.form-input {
   font-size: 1.1rem;
   position: relative;
   border-radius: 5px;
   overflow: hidden;

   margin: 10rem;
}

.form-input__input-container {
   position: relative;
   border-radius: 5px;
   overflow: hidden;
}

.form-input__label {
   font-size: 1rem;
   text-transform: lowercase;
   color: var(--gray-color-01);
   display: block;
   margin-bottom: 0.2rem;
}

.form-input__input {
   font-size: inherit;
   padding: 0.75rem 1rem 0.75rem 2.8rem;
   border: 1px solid #aaa;
   border-radius: 5px;
   width: 100%;
   background: none;
   color: var(--main-color);
   transition: background 0.2s, border-color 0.2s;
}

.form-input__input:hover,
.form-input__input:focus {
   background: var(--main-color-bright-01);
   border-color: var(--main-color);
}

.form-input__icon-container {
   display: flex;
   align-items: center;
   position: absolute;
   z-index: 10;
   top: 50%;
   left: 5px;
   transform: translateY(-50%);
}

.form-input__img {
   border-right: 1px solid #aaa;
   display: flex;
   justify-content: center;
   align-items: center;
}

.form-input__icon {
   fill: var(--main-color);
   width: 1.8rem;
   height: 1.8rem;
}

.form-input__icon-line {
   height: 1.8rem;
   margin-left: 2px;
   border-right: 1px solid var(--gray-color-02);
}
