.form-input {
    font-size: 2rem;

    &__input {
        font-size: inherit;
    }

    &__img-container {}

    &__form-input__img {}

    &__form-input__icon {
        fill: orange;
        width: 3.5rem;
        height: 3.5rem;
    }
}